p {
    color: #edc951;
}

h1 {
    padding-top: 40px;
    text-decoration: underline;
    font-weight: 900;
    font-size: 60px;
    font-family: 'Playwrite';
}

h1, .customlabel {
    color: #6a4a3d;
}