.corps {
    background-color: #ec6841;
    padding: 0 25%;
}

h2 {
    padding-top: 30px;
    color: #6a4a3d;
    font-family: 'PuppyBellies';
    font-size: 2rem;
  }

  button {
    margin: 20px 30%;
    width: 40%;
    color: red;
    border-color: red;
  }