.calendar-cont {
  display: flex;
}

.scheduler-cont {
  width: 80%;
}

.predetermined {
  width: 20%;
  text-align: center;
}

.defTasks{
  padding-left: 5%;
}

h1 {
  font-family: 'PuppyBellies';
  color: #6a4a3d;
  font-size: xx-large;
}

p {
  padding: 15px;
}

.taskDiv {
  border-style: ridge;
  border: #6a4a3d;
}