<div class="calendar-cont">
  <div class="scheduler-cont">
    <app-scheduler> </app-scheduler>
  </div>

  <div>
    <h1>Tareas predeterminadas</h1>
    <div>
      <span (click)="formModal.show()" style="cursor: pointer">
        <p class="mb-0">Sacar la basura</p>
      </span>
    </div>
    <div>
      <span (click)="formModal.show()" style="cursor: pointer">
        <p class="mb-0">Cepillarse los dientes</p>
      </span>
    </div>
    <div>
      <span (click)="formModal.show()" style="cursor: pointer">
        <p class="mb-0">Ordenar el cuarto</p>
      </span>
    </div>
    <div>
      <span (click)="formModal.show()" style="cursor: pointer">
        <p class="mb-0">Bañarse</p>
      </span>
    </div>
  </div>
</div>

<app-modal size="lg" #formModal>
  <app-task-form [title]="'Add Task'"></app-task-form>
</app-modal>
