<div class="shadow-lg round padded colored center">
  <h1 class="my-4">{{profileService.user$().name}}'s profile info</h1>
  <div class="infoCont shadow-lg">
    <div class="d-column">
      <div class="infoSection">
        <div class="half">
          <i class="fa-solid fa-user-circle userIcon"></i>
        </div>
        <div class="half">
          <p>You are {{profileService.user$().name}} {{profileService.user$().lastname}}!</p>
          <p>Whose email is {{profileService.user$().email}}</p>
        </div>
      </div>

      <div class="xpSection">
        <label class="xpLabel">You are in {{profileService.user$().level?.name}}, with
          {{profileService.user$().experience}} out of {{profileService.user$().level?.value}} XP points for the next
          level !!!</label>
        <app-xp-bar></app-xp-bar>
      </div>
    </div>
  </div>

  <button *ngIf="isAssociate == false" class="btn custom-btn shadow-lg" (click)="codeModal.show(); sendEmail()">Parental mode</button>
  <button *ngIf="isKid == false" class="btn custom-btn shadow-lg" (click)="formModal.show() ">Edit</button>

</div>

<app-modal size="lg" #formModal>
  <app-user-form [auxUser]="profileService.user$()" [action]="'profileEdit'" [title]="'Update User'">
  </app-user-form>
</app-modal>

<app-modal size="lg" #codeModal>
  <app-code-checker [auxUser]="profileService.user$()" [action]="'edit'" [title]="'Activate Mode'">
  </app-code-checker>
</app-modal>