  .info-container label{
    font-size: 16px;
    font-weight: bold;
    color: #6a4a3d;
  }

  .padded {
    padding: 30px 20px;
    width: 90%;
    margin: 0 5%;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    color: #6a4a3d;
    font-family: 'PuppyBellies';
  }

  label, p {
    font-size: 30px;
    color: #6a4a3d;
    margin: 15px 5px;
    padding: 25px;
    border-style: ridge;
    border-radius: 10px;
    border: 3px solid #6a4a3d;
  }

  .userIcon {
    font-size: 1100%;
    padding: 10%;
    color: #6a4a3d;
  }

  .half {
    width: 100%;
  }

  .xpLabel {
    border: none;
    margin: 0px 0px;
  }

  .xpSection {
    border-top: 3px solid #6a4a3d;
    padding: 0 3%;
  }

  .colored {
    background-color: #ef9174;
  }

  button {
    font-size: 25px;
    min-width: 200px;
    height: 70px;
    width: 25%;
    margin: 7px;
  }

  .half {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .infoCont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 10%;
    background-color: #ecd381;
    border-radius: 10px;
    border: 3px solid #6a4a3d;
    width: 80%;
  }

  .buttons {
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
  }

  .infoSection {
    display: flex;
  }

  i {
    margin-left: 20%
  }
  
 /*@media screen and (max-width: 1300px) {
    .custom-btn {
      margin: 2%;
    }
  }*/
