<input type="text" name="search" (input)="filterTask($event)" placeholder="Search by name or prirority">
<div class="table-container table-responsive">
    <table class="table table-striped">
      <thead class="brown">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Priority</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Complete task</th>
        </tr>
      </thead>
      <tbody>
        @for (item of filteredTaskList; track item.id) {
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.priority}}</td>
          <td>{{item.startDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{item.endDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{item.description}}</td>
          <td>
            <div class="d-flex justify-content-evenly align-items-center">
              <button type="button" (click)="completeTask(item)" class="btn btn-success">
                <i class="fa-solid fa-check white"
                ></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
