.yellow {
    background-color: #edc951;
  }
  
  .brown {
    background-color: #6a4a3d;
  }
  
  .orange {
    background-color: #ef9174;
  }

  ::placeholder {
    color: #6a4a3d75;
  }

  .e-datetime-wrapper .e-input-group-icon.e-date-icon, .e-input-group-icon {
    font-size: 20px;
    color: #6a4a3d;
  }

  .invalid-feedback {
    font-family: 'QuiteMagical';
    font-size: 20px;
  }

  label {
    font-family: 'PuppyBellies';
  }

  textarea, input, input:focus, textarea:focus {
    background-color: #ef9174;
    color: #6a4a3d;
  }

  .custom-btn {
    padding: 10px 20%;
    margin: 10px 28%;
  }

  textarea {
    font-family: 'QuiteMagical'; 
  }