.yellow {
    //background-color: #edc951;
    background-color: #fff;
  }
  
  .brown {
    //background-color: #6a4a3d;
    background-color: #fff;
  }
  
  .orange {
    //background-color: #ef9174;
    background-color: #fff;
  }

  .base-modal {
    background-color: #fff;
  }

  ::placeholder, .e-ddl.e-input-group input.e-input::placeholder {
    //color: #6a4a3d75;
  }

  .e-datetime-wrapper .e-input-group-icon.e-date-icon, .e-input-group-icon.e-time-icon {
    //font-size: 20px;
    //color: #6a4a3d;
  }

  .invalid-feedback {
    font-family: 'QuiteMagical';
    font-size: 20px;
  }

  label {
    font-family: 'PuppyBellies';
  }

  textarea, input, input:focus, textarea:focus {
    //background-color: #ef9174;
    //color: #6a4a3d;
  }

  .custom-btn {
    padding: 10px 20%;
    margin: 10px 28%;
  }

  textarea {
    font-family: 'QuiteMagical'; 
  }