<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="login-main">
          <form
            (ngSubmit)="handleSignup($event)"
            autocomplete="off"
            #frm="ngForm"
            class="form-parent"
          >
            <div class="form-child">
              <div class="mb-3">
                <h1>Register Account</h1>
                <p>Let's get started!</p>
              </div>

              <div class="d-flex align-items-center mb-3">
                <div class="form-group px-1 namePlace">
                  <label for="name" class="form-label mb-2 customlabel">
                    Name
                  </label>
                  <input
                    #name="ngModel"
                    type="text"
                    class="form-control shadow rounded"
                    id="name"
                    name="name"
                    placeholder="User"
                    [(ngModel)]="user.name"
                    [ngClass]="{
                      'is-invalid': name.invalid && name.touched,
                      'is-valid': name.valid && name.touched
                    }"
                    required
                  />
                  <div *ngIf="name.invalid" class="invalid-feedback">
                    Please add a valid name
                  </div>
                </div>
                <div class="form-group px-1 namePlace">
                  <label for="lastname" class="form-label mb-2 customlabel">
                    Lastname
                  </label>
                  <input
                    #lastname="ngModel"
                    type="text"
                    class="form-control shadow rounded"
                    id="lastname"
                    name="lastname"
                    placeholder="demo"
                    [(ngModel)]="user.lastname"
                    [ngClass]="{
                      'is-invalid': lastname.invalid && lastname.touched,
                      'is-valid': lastname.valid && lastname.touched
                    }"
                    required
                  />
                  <div *ngIf="lastname.invalid" class="invalid-feedback">
                    Please add a valid lastname
                  </div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="email" class="form-label mb-2 customlabel">
                  Email Address
                </label>
                <input
                  #email="ngModel"
                  type="text"
                  class="form-control shadow rounded"
                  id="email"
                  name="email"
                  placeholder="agent@gmail.com"
                  [(ngModel)]="user.email"
                  [ngClass]="{
                    'is-invalid': email.invalid && email.touched,
                    'is-valid': email.valid && email.touched
                  }"
                  required
                />
                <div *ngIf="email.invalid" class="invalid-feedback">
                  Please add a valid email
                </div>
              </div>

              <div class="form-group mb-5">
                <label for="password" class="form-label mb-2 customlabel"
                  >Password</label
                >
                <div class="form-input position-relative">
                  <input
                    #password="ngModel"
                    type="password"
                    class="form-control shadow rounded"
                    id="password"
                    name="password"
                    placeholder="*****"
                    [(ngModel)]="user.password"
                    [ngClass]="{
                      'is-invalid': password.invalid && password.touched,
                      'is-valid': password.valid && password.touched
                    }"
                    required
                  />
                  <div *ngIf="password.invalid" class="invalid-feedback">
                    Please add a valid password
                  </div>
                </div>
              </div>
              <button class="btn custom-btn" type="submit">
                Register
              </button>
            </div>

            <div class="form-group mb-0 ml-20">
                <p class="login-text">Have an account yet?</p>
              <button class="shadow btn login-btn custom-btn" type="submit" (click)="redLogIn()">
                Go Log in!
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
