<div class="user-taskies">
    <h2>Taskie</h2>
    <div *ngFor="let taskie of taskies" (click)="viewTaskieDetail(taskie.id)" class="taskie-card">
      <div class="content-taskie">
              <h3>{{ taskie.name }}</h3>
      <img [src]="taskie.specie.sprite" alt="{{ taskie.name }} Image" class="taskie-image"/>
      </div>
    </div>
    <button *ngIf="canCreateTaskie == true" mat-raised-button class="btn custom-btn shadow-lg " color="primary" (click)="openTaskieForm()">Create New Taskie</button>
 </div>