<body>
    <div class="top">
        <div>
            <img src="../../../assets/icons/logo.png" alt="Taskie Tamer Logo" class="logo" />
        </div>
        <div>
            <button type="register" value="register" class="registerBtn btn custom-btn" (click)="redRegister()" >Register!</button>
            <button type="login" value="login" class="btn custom-btn" (click)="redLogIn()" >Log In!</button>
        </div>
        <div>
            <p class="introText">Taskie tamer is the cutting-edge aplication for sorting your life, or your children's for that manner.</p>
        </div>
    </div>
    <div>
         <div class="d-flex">
            <img src="../../../assets/icons/stockImg.png" alt="Taskie Tamer Pic 1" class="homeImage" />
            <img src="../../../assets/icons/stockImg2.png" alt="Taskie Tamer Pic 2" class="homeImage" />
         </div>
         <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum, ligula quis semper euismod, urna metus varius neque, ac condimentum ipsum ipsum eget ex. Duis in cursus erat. Donec nec ultricies dui. Sed semper lorem dapibus mi egestas, viverra pretium nisi placerat. Curabitur eu felis quis libero porttitor laoreet. Maecenas non libero in nunc suscipit elementum a vitae felis. Fusce ullamcorper arcu vitae lacus convallis, id commodo felis pellentesque. Nulla erat odio, fermentum eget scelerisque ac, semper vel velit. Fusce in quam id nunc rhoncus rutrum a nec mauris. Ut vehicula lacinia leo, ac ultrices dui venenatis nec. Praesent vel rhoncus turpis. Vivamus in mi ultrices nulla rutrum pharetra. Donec ullamcorper sollicitudin orci, porta vestibulum odio fringilla quis.</p>
         </div>
    </div>
</body>
