div{
    padding: 25px;
}

p {
    min-width: 500px;
    text-align: justify;
}

Body {
    max-width: 1500px;
}

.introText{
    width: 50%;
    min-width: 300px;
}

Button {
    margin: 5px;
    height: 40px;
    width: 20%;
    min-width: 120px;
}

.homeImage {
    width: 40%;
    margin: 5%;
}

.logo {
    width: 40%;
    min-width: 250px;
}

.top {
    background-image: url("../../../assets/icons/wallace2.jpg");
    background-position: center;
}