<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center"></div>
        <div class="login-main">
          <form
            (ngSubmit)="handleLogin($event)"
            autocomplete="off"
            #frm="ngForm"
            class="form-parent"
          >
            <div class="form-child">
              <div class="mb-3">
                <h1>Log into your Account</h1>
                <p>
                  Enter your email & password to login
                </p>
              </div>

              <div class="form-group mb-3">
                <label for="email" class="form-label mb-2 customlabel">
                  Email Address
                </label>
                <input
                  #email="ngModel"
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="agent@gmail.com"
                  [(ngModel)]="loginForm.email"
                  [ngClass]="{
                    'is-invalid': email.invalid && email.touched,
                    'is-valid': email.valid && email.touched
                  }"
                  required
                />
                <div *ngIf="email.invalid" class="invalid-feedback">
                  Please add a valid email
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="password" class="form-label mb-2 customlabel">Password</label>
                <div class="form-input position-relative">
                  <input
                    #password="ngModel"
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="*****"
                    [(ngModel)]="loginForm.password"
                    [ngClass]="{
                      'is-invalid': password.invalid && password.touched,
                      'is-valid': password.valid && password.touched
                    }"
                    required
                  />
                  <div *ngIf="password.invalid" class="invalid-feedback">
                    Please add a valid password
                  </div>
                </div>
              </div>
              <a href="/register">Go Register!</a>
            </div>

            <div class="form-group mb-0">
              <button class="btn w-100 custom-btn" type="submit">
                Log in
              </button>
              @if(loginError) {
              <p class="text-danger">{{ loginError }}</p>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>