<h2 *ngIf="!isEditing">Add New Specie</h2>
<h2 *ngIf="isEditing">Edit Specie</h2>

<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" name="name" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description" name="description" required></textarea>
  </mat-form-field>

  <!-- Eliminar matInput de la entrada de tipo file -->
  <div>
    <label for="file">Choose File:</label>
    <input type="file" id="file" (change)="onFileSelected($event)">
  </div>

  <div class="form-actions">
    <button mat-button type="submit">{{ isEditing ? 'Update' : 'Add' }} Specie</button>
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button *ngIf="isEditing" type="button" (click)="deleteSpecie()">Delete</button>
  </div>
</form>