.add-user-container {
  padding: 30px 0px;
  background-color: #ec6841;
}

div {
  background-color: #ec6841;
}

p {
  color: #edc951;
}

h1, h2, .customlabel {
  color: #6a4a3d;
}

h2{
  font-family: "Playwrite";
  font-size: 30px;
}

input {
  background-color: #edc951;
  padding: 3px;
  margin-bottom: 5px;
}

