<div class="modal-container">
    <h2 class="modal-title">Taskie Info</h2>
    <div class="modal-content">
      <div class="modal-card">
        <img [src]="taskie.sprite" alt="{{ taskie.name }}" class="taskie-detail-image">
        <p class="modal-card-title">Taskie</p>
      </div>
      <div class="modal-card">
        <p class="modal-card-title">Descripción</p>
        <h3>{{ taskie.name }}</h3>
        <p>Specie: {{ taskie.specie.description }}</p>
        <p>Status: {{ taskie.status.description }}</p>
        <p>ID: {{ taskie.id }}</p>
        <p>Experience: {{ taskie.experience }}</p>
      </div>
    </div>
  </div>