.modal-container {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
}

.modal-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 16px;
}

.modal-content {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 16px;
}

.modal-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-description {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 48px;
    width: 30%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    position: absolute;
}
.modal-cosmetics {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 36px;
    width: 30%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 500px;
    position: absolute;
}
.modal-card-title {
    font-weight: bold;
    margin-top: 16px;
}

.taskie-detail-image {
    width: 150%;
    height: auto;
    padding-right: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskie-level {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 16px;
    flex: 1;
    text-align: center;
}
