.custom-dialog-container {
  .mat-dialog-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
  }
}

.taskie-dex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 15px; 
  padding: 20px; 
}
.taskie-dex h2 {
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}
.taskie-card {
  cursor: pointer;
  width: 150px;
  text-align: center;
  transition: transform 0.2s;
}

.taskie-card:hover {
  transform: scale(1.05);
}

.taskie-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
