h1 {
    font-family: 'PuppyBellies';
    font-size: 30px;
    color: #6a4a3d;
}

span {
    font-family: 'QuiteMagical';
    font-size: 25px;
    color: #6a4a3d;
}

.profile-media {
    height: 20px;
}